.background {
    background-image: url(image/mars.gif);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* 念のためここにも追加 */
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 8px rgba(255, 140, 0, 0.8);
    margin-top: 60px;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
}

button {
    display: block;
    margin: 40px auto;
    /* 上に40pxスペース、左右中央揃え */
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color:black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e65c00;
}